google-auth-oauthlib==1.2.1
matplotlib==3.9.4
nvidia-cuda-cupti-cu12==12.5.82
nvidia-cuda-nvcc-cu12==12.5.82
nvidia-cuda-nvrtc-cu12==12.5.82
nvidia-cuda-runtime-cu12==12.5.82
nvidia-cudnn-cu12==9.3.0.75
nvidia-cufft-cu12==11.2.3.61
nvidia-curand-cu12==10.3.6.82
nvidia-cusolver-cu12==11.6.3.83
nvidia-nccl-cu12==2.21.5
pandas==2.2.3
pip-chill==1.0.3
pipreqs==0.5.0
psutil==7.0.0
scikit-learn==1.6.1
tensorflow==2.18.0
tensorflow-addons==0.23.0
tensorflow-estimator==2.15.0
tensorflow-probability==0.25.0
tflite-runtime==2.14.0
tinycss2==1.4.0
